@media screen and (max-width: 479px){
    header {
        background-color: gray;
        border: 5px solid black;
        color: white;
        max-width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .content {
        display: flex;
        flex-flow: column nowrap;
    }

    a {
        text-decoration: none;
    }

    footer {
        height: 60px;
        width: 100%;
    }

    th {
        width: 250px;
        border: 1px solid black;
        font-weight: normal;
    }

    .footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: end;
    }

    .table {
        border: 1px solid black;
        max-width: 500px;
        order: -1;
    }
}

@media (min-width: 480px) {
    header {
        background-color: gray;
        border: 5px solid black;
        color: white;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    footer {
        height: 60px;
        max-width: 100%;
    }

    th {
        width: 250px;
        border: 1px solid black;
        font-weight: normal;
    }

    .footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: end;
    }

    .table {
        border: 1px solid black;
        max-width: 500px;
    }
}
